.receipts {
  grid-area: receipts;
  text-align: center;
  max-width: calc(100vw - 105px);
}

.receipts-content {
  display: grid;
  grid-template-rows: 45px auto 300px 280px;
  grid-template-columns: 1fr;
  grid-template-areas:
    "categories"
    "category"
    "favorites"
    "recent";
  max-height: calc(100vh - 125px);
  max-width: calc(100vw - 105px);
  justify-content: space-around;
}

.categories {
    grid-area: categories;
    
}

.areas {
  grid-area: favorites;

}

.categories-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .list-item{
      display: block;
      border: 1px solid green;
      border-radius: 5px;
      margin: 3px;
      padding: 3px;
    }
}

.category {
  grid-area: category;
  display: block;
}

.recents {
  grid-area: recent;
  display: block;
}

.recent-content {
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  max-width: calc(100vw - 107px);
  max-height: 265px;
}

.receipt {
    display: grid;
    grid-template-rows: 30px auto 30px;
    grid-template-columns: auto;
    grid-template-areas:
        "category"
        "mealName";
    width: 190px;
    height: 190px;
    margin: 0px 10px 70px 10px;
    border-radius: 100px; 
  
  .receipt-category {
    grid-area: category;
    position: relative;
    font-size: 18px;
    margin-top: 10px;
  }
  .receipt-meal {
    grid-area: mealName;
    position: relative;
    height: 56px;
    top: 160px;
    font-size: 15px;
    padding: 2px 5px;
    text-emphasis: none;
    // border-bottom-left-radius: 10px;
    // border-bottom-right-radius: 100px;
    // background: rgba(0, 0, 0, 0.75);
  }
  .receipt-ingrredients {
    position: relative;
    top: 30px;
  }

}

.receipt:hover {
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.1s;
  width: 200px;
  height: 200px;
  margin: 0px 5px 45px 5px;

  .receipt-meal {
    position: relative;
    top: 170px;
    font-size: 18px;
    padding: 2px 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    // background: rgba(0, 0, 0, 0.75);
  }
}

.modal-receipt {

  .receipt-category {
    display: flex;
    justify-content: center;
    margin: 10px 0px;
  }

  .receipt-cat {
    margin: 0 15px;
  }

  .receipt-ingredients {
    display: grid;
    justify-content: center;
  }
  .receipt-ingredient {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto 1fr auto;
    grid-template-areas:
      "name dotted measure";
    min-width: 350px;
    margin: 5px 0;
  }

  .receipt-ingredient-name {
    grid-area: name;
    text-align: left;
    width: fit-content;
  }

  .receipt-ingredient-dotted {
    grid-area: dotted;
    border-bottom: 1px dotted black;
  }

  .receipt-ingredient-measure {
    grid-area: measure;
    text-align: right;
    width: fit-content;

  }

}

