@import "../common-scss/reset-css.scss";
@import "../common-scss/normalize-css.scss";
@import "../common-scss/scroll.scss";
@import "header/scss/header.scss";
// @import "footer/scss/footer.scss";
@import "menu/scss/menu.scss";
// @import "ingredients/scss/ingredients.scss";
// @import "exports/scss/exports.scss";
// @import "family/scss/family.scss";
// @import "planner/scss/planner.scss";
@import "receipts/scss/receipts.scss";
// @import "storages/scss/storages.scss";


$hoverColor: rgb(0,50,255);
$backgroundDark: rgb(49, 49, 49);
$backgroundLight: rgb(186, 216, 186); 
$colorDark: rgb(229, 229, 229); 
$colorLight: rgb(29, 29, 29); 
$backgroundColor: $backgroundLight;
$сolor: $colorLight;

%activeWrapper {
    display: grid;
    gap: 5px;
    grid-template-rows: 1fr 40px;
    grid-template-columns: auto;
    grid-template-areas:
    "content"
    "buttons"
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

[id="root"] {
  width: 100%;
  height: 100%;
  display: grid;
  // gap: 5px;
  grid-template-rows: 50px 1fr;
  grid-template-columns: 100px auto;
  grid-template-areas:
    "menu header"
    "menu receipts"
    // "footer footer footer footer footer footer"
}

.light_mode {
  $backgroundColor: $backgroundLight;
  background-color: $backgroundColor;
  $color: $colorLight;
  color: $color;
}

.dark_mode {
  $backgroundColor: $backgroundDark;
  background-color: $backgroundColor;
  $color: $colorDark;
  color: $color;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0000003a;
  transition: opacity 0.2s ease;
}

.modal {
  position: fixed;
  left: 250px;
  bottom: 90vh;
  margin: 0px auto;
  padding: 20px;
  background-color: $backgroundColor;
  border-radius: 2px;
  transform: translateY(100%);
  transition: transform 0.2s ease;
  box-shadow: 0 2px 8px 3px;
  font-family: Helvetica, Arial, sans-serif;
  width: 75vw;
  height: 75vh;
}

.modal button {
  position: absolute;
  right: -1rem;
  top: -1rem;
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: 1px 1px 1px #0000003a;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.562);
}

.content {
  grid-area: content;
  width: 100%;
  height: 100%;
}

.buttons {
  grid-area: buttons;
  justify-self: end;
}

.family ,
.storages, 
.planner, 
.receipts, 
.ingredients, 
.exports {
  text-align: center;
  // border: 1px solid grey;
  border-radius: 5px;
}

.button-next {
  width: 110px;
  height: 35px;
  border-radius: 10px;
  background: #51ac51;
  font-size: 2em;
  margin: 0 20px;
}

.menu .tabs .tab .active-tab {
  background-color: $backgroundColor;

}

.mode_family {
  
  .storages,
  .planner, 
  .receipts, 
  .ingredients, 
  .exports {
    display: none;
  } 

  .family .wrapper { 
    @extend %activeWrapper;
  }
}

.mode_storages {

  .family,
  .storages,
  .planner, 
  .receipts, 
  .ingredients, 
  .exports {
   display: none;
  } 

  .storages .wrapper { 
    @extend %activeWrapper;
  }
}

.mode_planner {

  .family,
  .storages,
  .receipts, 
  .ingredients, 
  .exports {
   display: none;
  } 

  .planner .wrapper { 
    @extend %activeWrapper;
  }
}

.mode_receipts {

  .family,
  .storages,
  .planner, 
  .ingredients, 
  .exports {
   display: none;
  } 

  .receipts .wrapper { 
    @extend %activeWrapper;
  }
}

.mode_ingredients {

  .family,
  .storages,
  .planner, 
  .receipts, 
  .exports {
   display: none;
  } 

  .ingredients .wrapper { 
    @extend %activeWrapper;
  }
}

.mode_export {

  .family,
  .storages,
  .planner, 
  .receipts, 
  .ingredients {
   display: none;
  } 

  .exports .wrapper { 
    @extend %activeWrapper;
  }
}