@import "../common-scss/reset-css.scss";
@import "../common-scss/normalize-css.scss";
@import "../common-scss/scroll.scss";
@import "header/scss/header.scss";
@import "footer/scss/footer.scss";
@import "menu/scss/menu.scss";
@import "ingredients/scss/ingredients.scss";
@import "exports/scss/exports.scss";
@import "family/scss/family.scss";
@import "planner/scss/planner.scss";
@import "receipts/scss/receipts.scss";
@import "storages/scss/storages.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

[id="root"] {
  width: 100%;
  height: 100%;
  display: grid;
  gap: 5px;
  grid-template-rows: 50px 1fr 30px;
  grid-template-columns:  auto 35px 35px 35px 35px 35px;
  grid-template-areas:
    "header header header header header header"
    "family storages planner receipts ingredients exports"
    "footer footer footer footer footer footer"
}

.light_mode {
  background-color: white;
  color: black;
}

.dark_mode {
  background-color: rgb(49, 49, 49);
  color: rgb(229, 229, 229);
}

header {
    position: relative;
    white-space: nowrap;
}


.mode_family {
  grid-template-columns: auto 35px 35px 35px 35px 35px;
  
  .family-header {
    transform: none;
  }

  .storages-header, 
  .planner-header, 
  .receipts-header, 
  .ingredients-header, 
  .exports-header {
    transform: rotate(-90deg);
    top: 180px;
  } 
}

.mode_storages {
  grid-template-columns:  35px auto 35px 35px 35px 35px;
}

.mode_plannner {
  grid-template-columns:  35px 35px auto 35px 35px 35px;
}

.mode_receipts {
  grid-template-columns:  35px 35px 35px auto 35px 35px;
}

.mode_ingredients {
  grid-template-columns:  35px 35px 35px 35px auto 35px;
}

.mode_exports {
  grid-template-columns:  35px 35px 35px 35px 35px auto;
}