.menu {
  grid-area: menu;
  text-align: center;
  background-color: #3B5337;
  color: #F9F9F9;
  display: grid;
  gap: 5px;
  grid-template-rows: 80px 1fr 80px;
  grid-template-columns: 100px;
  grid-template-areas:
    "header"
    "tabs"
    "buttons";

  *::selection {
    background: none;  
  }

  .menu-header{
    grid-area: header;
    font-size: 14px;
    text-align: left;
    line-height: 25px;
    margin: 5px;
    max-width: 100px;
  }

  .tabs{
    grid-area: tabs;

    .tab { 
    height: 9vh;
    width: 100px;
    }
    
    .tab-family{
    background: url(../assets/images/familySVG.svg) no-repeat center center;
    }
    .tab-storages{
    background: url(../assets/images/shelf-shelves.svg) no-repeat center center;
    }
    .tab-planner{
    background: url(../assets/images/planner.svg) no-repeat center center;
    }
    .tab-receipts{
    background: url(../assets/images/receipts.svg) no-repeat center center;
    }
    .tab-ingredients{
    background: url(../assets/images/ingredients.svg) no-repeat center center;
    }
    .tab-export{
    background: url(../assets/images/export.svg) no-repeat center center;
    }

    .tabi { 
    height: 8vh;
    width: 100px;
    background-size: contain;
    position: relative;
    top: 3px;
    }

    .tab:hover { 
      background-color: #535353;
      cursor: pointer;
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;
    }

  }

  .buttons{
    grid-area: buttons;
    align-items: center;
    font-size: 1.5em;
    transition: all 0.3s;
    align-self: self-end;
    color: inherit;
    background: inherit;

    .footer-switcher:hover,
    .theme:hover,
    .lang:hover {
      cursor: pointer;
      color: royalblue;
      }

    .footer:active,
    .theme:active,
    .lang:active {
      cursor: pointer;
      color: rosybrown;
      }

    .langs {
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0 20px;
    display: flex;
    position: fixed;
    bottom: 100px;
    left: 45px;
    background-color: #3B5337;
    border-radius: 10px;
    z-index: 120;
    }
  }

  .themes {
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 5px 20px;
    display: flex;
    position: fixed;
    left: 45px;
    bottom: 60px;
    background-color: #3B5337;
    border-radius: 10px;
    z-index: 1000;

  }

  .footer-switcher {
    width: 100px;
    height: 50px;
  }
  
  .footer-hidden,
  .themes-hidden,
  .langs-hidden {
      display: none;
  }

  .footer,
  .theme,
  .lang {
    margin: 0.5vh 8px;
    background-color: #3B5337;
    border-radius: 10px;
    color: inherit;
  }

  .footer-wrapper {
    display: flex;
    position: absolute;
    width: fit-content;
    bottom: 0px;
    left: 80px;
    z-index: 120;
    background-color: #3B5337;
    border-radius: 10px;

    .year {
      margin: 0px 15px;
      align-self: center;
    }

    .git {
      margin: 2px 5px;
      display: flex;
      align-self: center;

     .git-icon {
      align-self: center;
      width: 20px;
      height: 20px;
      background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAKQklEQVR4XuVbe5BT1Rn/fTdhH1RsC7Y8VAR1c8PD8THOMNTHqFVHKR1qrS1aWp1aN8kioh2F3GghIpsbkA7yzM1qHWm1XaVYa61aX+0oMNShrR2Fzc1isaXKIi618tpX7tc5cSNJNsk9N5sszHj+zP19v+87v/P+zgnhc17oc15/DLkA8xa3n9yXSo21GCNcjBGiAVKEgwrhoNvl2rvm/oZPhrJRqirAjxYkRtS6lUvZ4stBfCFAKoAxNhXsANgE03YmvOaq7Xt9fXjKoWqJUnEB5s1rr+0dkZoFppsBXA3APcjge5nxkgLe4D7senbNmobuQfLlmFdMgDvDu790tLvnDgLuADCqkkFmcXUysLq+tmb1Q+GJH1fCx6AFuCG8o2ZU17B7QLwAwMmVCEqC4xMwLe+s631wY3hKjwS+KGRQAviDiSuIKMaAZzBBlG3LMAFuMqLe18rlKEuAcPhP7r09py4lTrd6WRzlBlzAjplo+dia9+8Lhy/vc8rrOPh5WvtXemFtAnCJU2dVxr8xDMr1a/SG/U78OBLAH2ybALheAnGDEydDhmVqB1JXG9FJ78n6lBagUTO9CiDG2lhZ8uOE20suvjy21GvK+JcSwH+veSos3grQeBnS44/hf7tTmL52ufcDu1hsBRC7uRqXshXgqXZkJ9j3t3tSfNGjy70HS8VlK0BAM1sZ+N4JVjnZcFoNXb2xbAH8mnkbgJaS3pjnWKTsIlinE+gGgGcCNFw2Qmc4PgLQcwzeyFD2uMhqYKZf2nA0Grr6cDFM0R7w4wXtpw1zWQkGvlDCwSGr8+DIlpYLezOYpvCOk6we991giD1CvbMKFkUfBWG5UtO3Ivtg1Ni4fZhr1Ij/2sUIBV6jWX2/EHtRAfya+SSA79pU4HlDV79RCNO48N3xLqVvef/wYTCSINoORhsDnaRYB8hSDghbVqyRbCkjSZwhCJPAfCEovbsU8bUqimvB+uaz9xTy4w+az4NwrU03fzKmq7OlBQho5iUMvG7XegReEdO995TC3aa1eepq3B1Oz/kib9DV0zfmYX1SshR/QEs8yKC77WPFpTFdfSMfV7AH+DXzZQBXSpAuienqYjtcNb/7Q8klYP6phI+XDV0Vx/OcMkCARi05TQFvkyAEiB4wIp5FUtgqgRwIACiYZjSrb2aHMkAAv5Z4AqCbJON9ztDVb0piqwILBBPPMpFkDPSEoXvmFBUgPYN3u/Y5WMb2G7r61arUTJLUr5l7JdJs/Wx8RKlNjc5eSXJ6gC9k/pAYGyR9C9irhu65CiB2YFNRqE9L/JFAA8Z2MSdMuDkeUX+R+Z4jgOTSl7HtQK/rXGPF2R9WtEYOyfqP528BGCdjSkDOkpglAJNfS3YAkOrSzBSIRz2GjNNqY6R2rMeC+NDQ1dEDeoBPa59MsHZIBrvH6jx4VvYOUNKuKjCRoeroHrcLwBkyDhjKlLjesFNgP+sB/pA5G4xfyxAAvNrQvfPlsEOD8mnJlQS+U8YbM2bHo6rY6WYJEDQXgxCWI+Br41HvizLYocL4golriOgFGX8MLI7r6pJcAbTk4wB/X4bApaQmrGue/C8Z7FBh0uk6UnbL+GPG4/Go+oMcAQKa+QID18gQdNXW1D8Wntglgx0qzC3h3XV13T1HpfwxXjCi6oy8HmBuBnCRBIFl6B738Vz7C8eYXsVEWlyxqwMRNsciajqrfWwS1Eyxlp5rZyy+99b2jfp5eEr6KHuilLla26gUlI9k4mHgrbiunp8/CW4B4WsyBORir2zWVYavEpj+rHWbJNcWQ1cvzhUgZD4Dxiw5Ar7Y0L1b5LBDg2pcaF6sKBhw3i/knYFn4rp6Xf4k+AgDt0qGWzLPJslRUZij3SDhESOiinxnzhygAwhKRUW8yYh4vyOFHSKQP2Q+DUa6Ve0KEfRYRA3lCOALJeYT00N2xuI7Ax8f2OU5ZeNGSsngq43p3wp3yl/P03xD96zOFUBrn06wtsoGyxZ/K77M+ztZfDVx/qB5HQhPy/ogRZkea25IZ70+WwZFilkZddLHDpIhiTG1H5xTzpW0bKAyuHTrd417BwTx/si2EHA41Xnwy5mDXH4+4BUAX7dlyQAY84youlYaXwWgL2g2EWGdA+pXDF29KoPPzQhp5iIC7ndA1sNEM+MRj8giD3kJBJNXMvEfANRIO2deZES9DxQUoDHUfoHC1l+lyT4dQ4eZrZlGdNKfndgNFusPtl0GUn4P4CRHXKxcYEQb/l5QAPFjQDO3MTDNESlggbGqq64mVO1DUmP4g+FK16EIiOfJ7Ptz6sHYZkTV6dm/DUiLB0KJOUUuHFsJSDLhMnB6y1zo/d9eEFospOItkckiW1uxcvuCxLiUi3wMNMpngfPcM88xot4nSgqQfvbW7Rb3cDm5QSa+Mx7xrhLGvvt2NlBKaQXogiI1FPuDv4msMVu8TRmGxGj33ndlV4y77tpT31V/uMFieBRgGgNXAHSe4xbPDW5fZ23f+PxndQWvxnzFJkPi5jE16qJwmCwR5NG6w5tLiJDtvpcU5dLM2mvXLZpCyfMsZnE3mX5LXJGSN/kVnQPEh3QL1B3ZwcDEAs43GLp6i/h97r07z0hZLtHSI0sGWcR5KRtf0NSIEKlI5YF/1ncNn7py5ekDEiZFr8d9mjmDALHEDCjE5ItFPemHE76FiVmk0DOlAlUU1/hi19vF7MTT267uHnG+dw1WBCLMiEXUgvnCkk9kApq5iYFvFwigo75r+JkZRftvlIQgtQWw/zB0VYxfx6XMFSnXj83BraQA6ddhjLfAOCU/+uxJUXxrunfX6Smrr5FA0whIMaiTCX9Jwf3UI5Ez9zmu/adL8mDfJ+2HgvOLvQ4RMdk+kvJriYsAerVA6/7HstxTW5ad9b9yKidj49fMNQBul8EWwHQrinXF+uZJJQ94tgKkx3kweSMR/yrfCQEvfrTLM7Nax2K/llgFkHh+77QwCDcZEbXVzlBKgLQIxc8JrXW1NYFKvd/PDjigmasZEDs+RyX74sPOUFoAQRTQzBADSwsMHfGmYAMp9Ntedu0+rWbi/n1db3+RUT+BCd2Zezi7YPK/lzEEmID7YroqvXw6EkAE2H+H+FiRGT9TB+vYrq38e0SfZq4lYK6kcN0g3CLT7bP5HAuQFkFMjEQiizxgdRiwWgDr4rpa1kTmD5nrwGiSEOCAZWFWyzJVXO44KmUJIDw0hnaOVdglcog2bwkpZugemUoMCNyvJdcDHChdI/qNO2XNl3kYXYinbAEyZOJWViFaX2TbLFKocUP3+h01Sz84EErEmKmY7XsMzI3r6vPlcGdsBi2AIEofjGqP/gTEYrzm/5/gYUNXxRHWcSnSAzrAvN6qO/lnLeFxRxyT5hlURIAMZzqxesqI68F8B0CfJh6IbzUi3kfLCTSgmTczICZcUd4E82rrwKGnKvkypaICZFeyaUFykuXucxmRye+UU/nPRF3Yds4wuK11yxpkn+84clc1ARxFcRzBn3sB/g+Wo8RuBdGaOQAAAABJRU5ErkJggg==") center/cover no-repeat;
     }

     a {
       padding: 4px 0;
       margin: 0 5px;
       text-decoration: none;
       color: inherit;
     }

     a:hover {
      cursor: pointer;
      color: royalblue;
     }
    }

    .rsschool {
      align-self: center;
      background: url(../assets/images/rs_school_js.svg) no-repeat center center;
      width: 100px;
      height: 30px;
      margin-right: 20px;
    }
  }
}

@media screen and (max-width: 800px) {

.menu {
  grid-area: menu;
  text-align: center;
  background-color: #3B5337;
  color: #F9F9F9;
  display: grid;
  gap: 5px;
  grid-template-rows: 70px;
  grid-template-columns: 100px 1fr 80px;
  grid-template-areas:
    "header tabs buttons";

  .menu-header{
    grid-area: header;
    font-size: 14px;
    text-align: left;
    line-height: 14px;
    margin: 5px;
    max-width: 100px;
  }

  .tabs{
    grid-area: tabs;
    display: flex;

    .tab { 
    height: 100px;
    width: 10vw;
    }

    .tab:hover { 
    background-color: #535353;
    cursor: pointer;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    }

    .tabi { 
    height:50px;
    width: 9vw;
    background-size: contain;
    position: relative;
    top: 10px;
    left: 3px;
    }
    }

    .footer-wrapper {
    display: flex;
    position: absolute;
    width: fit-content;
    bottom: 0px;
    left: 0px;
    z-index: 120;
    background-color: #3B5337;
    border-radius: 10px;
    font-size: 14px;

    .git-icon {
      align-self: center;
      width: 10px;
      height: 10px;
      background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAKQklEQVR4XuVbe5BT1Rn/fTdhH1RsC7Y8VAR1c8PD8THOMNTHqFVHKR1qrS1aWp1aN8kioh2F3GghIpsbkA7yzM1qHWm1XaVYa61aX+0oMNShrR2Fzc1isaXKIi618tpX7tc5cSNJNsk9N5sszHj+zP19v+87v/P+zgnhc17oc15/DLkA8xa3n9yXSo21GCNcjBGiAVKEgwrhoNvl2rvm/oZPhrJRqirAjxYkRtS6lUvZ4stBfCFAKoAxNhXsANgE03YmvOaq7Xt9fXjKoWqJUnEB5s1rr+0dkZoFppsBXA3APcjge5nxkgLe4D7senbNmobuQfLlmFdMgDvDu790tLvnDgLuADCqkkFmcXUysLq+tmb1Q+GJH1fCx6AFuCG8o2ZU17B7QLwAwMmVCEqC4xMwLe+s631wY3hKjwS+KGRQAviDiSuIKMaAZzBBlG3LMAFuMqLe18rlKEuAcPhP7r09py4lTrd6WRzlBlzAjplo+dia9+8Lhy/vc8rrOPh5WvtXemFtAnCJU2dVxr8xDMr1a/SG/U78OBLAH2ybALheAnGDEydDhmVqB1JXG9FJ78n6lBagUTO9CiDG2lhZ8uOE20suvjy21GvK+JcSwH+veSos3grQeBnS44/hf7tTmL52ufcDu1hsBRC7uRqXshXgqXZkJ9j3t3tSfNGjy70HS8VlK0BAM1sZ+N4JVjnZcFoNXb2xbAH8mnkbgJaS3pjnWKTsIlinE+gGgGcCNFw2Qmc4PgLQcwzeyFD2uMhqYKZf2nA0Grr6cDFM0R7w4wXtpw1zWQkGvlDCwSGr8+DIlpYLezOYpvCOk6we991giD1CvbMKFkUfBWG5UtO3Ivtg1Ni4fZhr1Ij/2sUIBV6jWX2/EHtRAfya+SSA79pU4HlDV79RCNO48N3xLqVvef/wYTCSINoORhsDnaRYB8hSDghbVqyRbCkjSZwhCJPAfCEovbsU8bUqimvB+uaz9xTy4w+az4NwrU03fzKmq7OlBQho5iUMvG7XegReEdO995TC3aa1eepq3B1Oz/kib9DV0zfmYX1SshR/QEs8yKC77WPFpTFdfSMfV7AH+DXzZQBXSpAuienqYjtcNb/7Q8klYP6phI+XDV0Vx/OcMkCARi05TQFvkyAEiB4wIp5FUtgqgRwIACiYZjSrb2aHMkAAv5Z4AqCbJON9ztDVb0piqwILBBPPMpFkDPSEoXvmFBUgPYN3u/Y5WMb2G7r61arUTJLUr5l7JdJs/Wx8RKlNjc5eSXJ6gC9k/pAYGyR9C9irhu65CiB2YFNRqE9L/JFAA8Z2MSdMuDkeUX+R+Z4jgOTSl7HtQK/rXGPF2R9WtEYOyfqP528BGCdjSkDOkpglAJNfS3YAkOrSzBSIRz2GjNNqY6R2rMeC+NDQ1dEDeoBPa59MsHZIBrvH6jx4VvYOUNKuKjCRoeroHrcLwBkyDhjKlLjesFNgP+sB/pA5G4xfyxAAvNrQvfPlsEOD8mnJlQS+U8YbM2bHo6rY6WYJEDQXgxCWI+Br41HvizLYocL4golriOgFGX8MLI7r6pJcAbTk4wB/X4bApaQmrGue/C8Z7FBh0uk6UnbL+GPG4/Go+oMcAQKa+QID18gQdNXW1D8Wntglgx0qzC3h3XV13T1HpfwxXjCi6oy8HmBuBnCRBIFl6B738Vz7C8eYXsVEWlyxqwMRNsciajqrfWwS1Eyxlp5rZyy+99b2jfp5eEr6KHuilLla26gUlI9k4mHgrbiunp8/CW4B4WsyBORir2zWVYavEpj+rHWbJNcWQ1cvzhUgZD4Dxiw5Ar7Y0L1b5LBDg2pcaF6sKBhw3i/knYFn4rp6Xf4k+AgDt0qGWzLPJslRUZij3SDhESOiinxnzhygAwhKRUW8yYh4vyOFHSKQP2Q+DUa6Ve0KEfRYRA3lCOALJeYT00N2xuI7Ax8f2OU5ZeNGSsngq43p3wp3yl/P03xD96zOFUBrn06wtsoGyxZ/K77M+ztZfDVx/qB5HQhPy/ogRZkea25IZ70+WwZFilkZddLHDpIhiTG1H5xTzpW0bKAyuHTrd417BwTx/si2EHA41Xnwy5mDXH4+4BUAX7dlyQAY84youlYaXwWgL2g2EWGdA+pXDF29KoPPzQhp5iIC7ndA1sNEM+MRj8giD3kJBJNXMvEfANRIO2deZES9DxQUoDHUfoHC1l+lyT4dQ4eZrZlGdNKfndgNFusPtl0GUn4P4CRHXKxcYEQb/l5QAPFjQDO3MTDNESlggbGqq64mVO1DUmP4g+FK16EIiOfJ7Ptz6sHYZkTV6dm/DUiLB0KJOUUuHFsJSDLhMnB6y1zo/d9eEFospOItkckiW1uxcvuCxLiUi3wMNMpngfPcM88xot4nSgqQfvbW7Rb3cDm5QSa+Mx7xrhLGvvt2NlBKaQXogiI1FPuDv4msMVu8TRmGxGj33ndlV4y77tpT31V/uMFieBRgGgNXAHSe4xbPDW5fZ23f+PxndQWvxnzFJkPi5jE16qJwmCwR5NG6w5tLiJDtvpcU5dLM2mvXLZpCyfMsZnE3mX5LXJGSN/kVnQPEh3QL1B3ZwcDEAs43GLp6i/h97r07z0hZLtHSI0sGWcR5KRtf0NSIEKlI5YF/1ncNn7py5ekDEiZFr8d9mjmDALHEDCjE5ItFPemHE76FiVmk0DOlAlUU1/hi19vF7MTT267uHnG+dw1WBCLMiEXUgvnCkk9kApq5iYFvFwigo75r+JkZRftvlIQgtQWw/zB0VYxfx6XMFSnXj83BraQA6ddhjLfAOCU/+uxJUXxrunfX6Smrr5FA0whIMaiTCX9Jwf3UI5Ez9zmu/adL8mDfJ+2HgvOLvQ4RMdk+kvJriYsAerVA6/7HstxTW5ad9b9yKidj49fMNQBul8EWwHQrinXF+uZJJQ94tgKkx3kweSMR/yrfCQEvfrTLM7Nax2K/llgFkHh+77QwCDcZEbXVzlBKgLQIxc8JrXW1NYFKvd/PDjigmasZEDs+RyX74sPOUFoAQRTQzBADSwsMHfGmYAMp9Ntedu0+rWbi/n1db3+RUT+BCd2Zezi7YPK/lzEEmID7YroqvXw6EkAE2H+H+FiRGT9TB+vYrq38e0SfZq4lYK6kcN0g3CLT7bP5HAuQFkFMjEQiizxgdRiwWgDr4rpa1kTmD5nrwGiSEOCAZWFWyzJVXO44KmUJIDw0hnaOVdglcog2bwkpZugemUoMCNyvJdcDHChdI/qNO2XNl3kYXYinbAEyZOJWViFaX2TbLFKocUP3+h01Sz84EErEmKmY7XsMzI3r6vPlcGdsBi2AIEofjGqP/gTEYrzm/5/gYUNXxRHWcSnSAzrAvN6qO/lnLeFxRxyT5hlURIAMZzqxesqI68F8B0CfJh6IbzUi3kfLCTSgmTczICZcUd4E82rrwKGnKvkypaICZFeyaUFykuXucxmRye+UU/nPRF3Yds4wuK11yxpkn+84clc1ARxFcRzBn3sB/g+Wo8RuBdGaOQAAAABJRU5ErkJggg==") center/cover no-repeat;
     }

    .year {
      margin: 0px 0px;
      align-self: center;
    }

    .git {
      margin: 2px 1px;
      display: flex;
      align-self: center;
    }
        .rsschool {
      width: 50px;
      height: 30px;
      margin-right: 0px;
    }
    }

      .themes {
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 5px 20px;
    display: flex;
    position: fixed;
    left: 45px;
    bottom: 60px;
    background-color: #3B5337;
    border-radius: 10px;
    z-index: 1000;

  }

  .footer-switcher {
    width: 70px;
    height: 25px;
  }

  .buttons .material-icons {
    font-size: 22px;
  }

  .footer,
  .theme,
  .lang {
    margin: 1px 8px;
    font-size: 20px;
  }

  .buttons .langs {
    left: 62vw;
    top: 100px;
  }
  
  .themes {
    left: 70vw;
    top: 60px;
  }

  }
}
