.planner {
  grid-area: planner;
  text-align: center;
  max-width: calc(100vw - 105px);
  color: inherit;
  background-color: inherit;
  border-color: inherit;
}

.planner .content {
  display: grid;
  grid-template-rows: 70px calc(100vh - 115px);
  grid-template-columns: 100%;
  grid-template-areas: "mode" "modecontent";
  max-height: calc(100vh - 110px);
  max-width: calc(100vw - 105px);
  justify-content: space-around;
  color: inherit;
  background-color: inherit;
  border-color: inherit;
}

.planner .modes {
  grid-area: mode;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  font-size: 20px;
  /* color: inherit; */
  background-color: inherit;
  border-color: inherit;
  align-items: center;
}

.planner .modes .planner-mode {
  width: 42vw;
  height: 60px;
  border-radius: 10px;
  color: white;
  background-color: #508150;
  margin: 0 3vw;
  line-height: 60px;
}

.planner .modes .planner-mode:hover {
  background-color: #306130;
  cursor: pointer;
}

.planner .modes .planner-mode:active {
  background-color: #9DBA96;
}

.planner .mode-content {
  grid-area: modecontent;
  padding: 6px 0px;
  width: 100%;
  color: inherit;
  background-color: inherit;
  overflow: auto;
}

.planner .adults-header,
.planner .adultsdiet-header,
.planner .childrendiet-header,
.planner .children-header,
.planner .pets-header {
  color: #518051;
}

.planner .adults-minus, .planner .adults-plus,
.planner .adultsdiet-minus, .planner .adultsdiet-plus,
.planner .childrendiet-minus, .planner .childrendiet-plus,
.planner .children-minus, .planner .children-plus {
  margin: 0 20px;
  font-size: 45px;
}

.planner .adults-minus::selection, .planner .adults-plus::selection,
.planner .adultsdiet-minus::selection, .planner .adultsdiet-plus::selection,
.planner .childrendiet-minus::selection, .planner .childrendiet-plus::selection,
.planner .children-minus::selection, .planner .children-plus::selection {
  background: none;
}

.planner .adults-minus:hover, .planner .adults-plus:hover,
.planner .adultsdiet-minus:hover, .planner .adultsdiet-plus:hover,
.planner .childrendiet-minus:hover, .planner .childrendiet-plus:hover,
.planner .children-minus:hover, .planner .children-plus:hover {
  cursor: pointer;
  transition: all 0.2s;
  color: #518051;
}

.planner .adults-minus:active, .planner .adults-plus:active,
.planner .adultsdiet-minus:active, .planner .adultsdiet-plus:active,
.planner .childrendiet-minus:active, .planner .childrendiet-plus:active,
.planner .children-minus:active, .planner .children-plus:active,
.planner .pets-plus:active {
  transition: all 0.2s;
  color: #91ad91;
}

.planner .pets {
  display: grid;
  grid-template-rows: 30px 10vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "petsicon petsheader petsheader" "petsicon petsswitcher petsswitcher";
  justify-content: space-around;
  font-size: 2rem;
  margin-left: 10px;
  color: inherit;
  background-color: inherit;
}

.planner .pets .pets-plus {
  color: inherit;
}

.planner .pets .pets-icon {
  grid-area: petsicon;
  background: url(../assets/images/cat-animal.svg) no-repeat center center;
  height: 10vh;
  align-self: center;
}

.planner .pets .pets-header {
  grid-area: petsheader;
  text-align: center;
  padding: 0 12vw;
  display: flex;
  white-space: nowrap;
  overflow: hidden;
}

.planner .pets .pets-switcher {
  grid-area: petsswitcher;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 0 12vw;
}

.planner .pets .pet {
  display: flex;
  margin: 10px 0;
}

.planner .pets .pet .material-icons:hover {
  cursor: pointer;
  transition: all 0.2s;
  color: #518051;
}

.planner .pets .pet .material-icons:active {
  transition: all 0.2s;
  color: #91ad91;
}

.planner .children {
  display: grid;
  grid-template-rows: 30px 10vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "childrenicon childrenheader childrendietheader" "childrenicon childrenswitcher childrendietswitcher";
  justify-content: space-around;
  font-size: 2rem;
  margin-left: 10px;
}

.planner .children .children-icon {
  grid-area: childrenicon;
  background: url(../assets/images/kids-children.svg) no-repeat center center;
  height: 10vh;
  align-self: center;
}

.planner .children .children-header {
  grid-area: childrenheader;
  text-align: center;
}

.planner .children .children-switcher {
  grid-area: childrenswitcher;
  display: flex;
  justify-content: center;
  align-items: center;
}

.planner .children .childrendiet-header {
  grid-area: childrendietheader;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

.planner .children .childrendiet-switcher {
  grid-area: childrendietswitcher;
  display: flex;
  justify-content: center;
  align-items: center;
}

.planner .adults {
  display: grid;
  grid-template-rows: 30px 10vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "adultsicon adultsheader adultsdietheader" "adultsicon adultsswitcher adultsdietswitcher";
  justify-content: space-around;
  font-size: 2rem;
  margin-left: 10px;
}

.planner .adults .adults-icon {
  grid-area: adultsicon;
  background: url(../assets/images/couplefamily.svg) no-repeat center center;
  height: 10vh;
  align-self: center;
}

.planner .adults .adults-header {
  grid-area: adultsheader;
  text-align: center;
}

.planner .adults .adults-switcher {
  grid-area: adultsswitcher;
  display: flex;
  justify-content: center;
  align-items: center;
}

.planner .adults .adultsdiet-header {
  grid-area: adultsdietheader;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

.planner .adults .adultsdiet-switcher {
  grid-area: adultsdietswitcher;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .planner {
    grid-area: planner;
    text-align: center;
    max-width: 100vw;
    color: inherit;
    background-color: inherit;
  }
  .planner .content {
    display: grid;
    grid-template-rows: 0px calc(100vh - 122px);
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "modes modes" "mode mode";
    max-height: calc(100vh - 122px);
    max-width: 100vw;
    justify-content: space-around;
    color: inherit;
    background-color: inherit;
  }
}
/*# sourceMappingURL=planner.css.map */