.planner {
  grid-area: planner;
  text-align: center;
  max-width: calc(100vw - 105px);
  color: inherit;
  background-color: inherit;
  border-color: inherit;

    .content {
      display: grid;
      grid-template-rows: 70px calc(100vh - 42px);
      grid-template-columns: 100%;
      grid-template-areas:
        "mode"
        "modecontent";
      max-height: calc(100vh - 110px);
      max-width: calc(100vw - 105px);
      justify-content: space-around;
      color: inherit;
      background-color: inherit;
      border-color: inherit;

    }

    .mode {
    grid-area: mode;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-size: 20px;
    /* color: inherit; */
    background-color: inherit;
    border-color: inherit;
    align-items: center;
    
     .planner-mode {
        width: 42vw;
        height: 60px;
        border-radius: 10px;
        color: white;
        background-color: #508150;
        margin: 0 3vw;
        line-height: 60px;
     }

    .planner-mode:hover {
    background-color: #306130;
    cursor: pointer;
    }

    .planner-mode:active {
    background-color: #9DBA96;
    }
}

    .mode-content {
      grid-area: modecontent;
      padding: 6px 0px;
      width: 100%;   
      color: inherit;
      background-color: inherit;
      overflow: auto;
    }

    .adults-minus, .adults-plus,
    .adultsdiet-minus, .adultsdiet-plus,
    .childrendiet-minus, .childrendiet-plus,
    .children-minus, .children-plus {
      margin: 0 20px;
      font-size: 45px;
    }
}

@media screen and (max-width: 800px) {

  .planner {
  grid-area: planner;
  text-align: center;
  max-width: 100vw;
  color: inherit;
  background-color: inherit;

    .content {
      display: grid;
      grid-template-rows: 0px calc(100vh - 122px);
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "modes modes"
        "mode mode";
      max-height: calc(100vh - 122px);
      max-width: 100vw;
      justify-content: space-around;
      color: inherit;
      background-color: inherit;

    }
  }
}
